NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SUPABASE_URL=https://oqvjwmrspeccnfkqatdx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xdmp3bXJzcGVjY25ma3FhdGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NjAxMzIsImV4cCI6MjA5NjEzNjEzMn0.VCKBBqDU_F6cjYh4oKF-5wqhfg0ARLQqYpuOaunKLt8

DATABASE_URL=postgresql://postgres.oqvjwmrspeccnfkqatdx:univerona2628@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://oqvjwmrspeccnfkqatdx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xdmp3bXJzcGVjY25ma3FhdGR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2MDEzMiwiZXhwIjoyMDk2MTM2MTMyfQ.qwgzon-1sOsGQGn6M3HP-Ne0HeMNoW-Qx0a7OpHosVs

GEMINI_API_KEY=
GROQ_API_KEY=

STORAGE_BUCKET=
